<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

</ion-content>

<div class="screen">
  <div class="scan">
    <img id="logo" src="../../assets/logo.png">
  </div>
</div>

<ion-footer class="ion-no-border" id="footer">

  <ion-item *ngIf="link">
    <ion-label>
      <a [href]="leitura" target="_blank">{{leitura}}</a>
    </ion-label>
  </ion-item>  

  <ion-item *ngIf="leitura">
    <ion-label position="stacked">stacked Label</ion-label>
    <ion-input [(ngModel)]="leitura"></ion-input>
  </ion-item>

  <ion-toolbar color="dark">
    <ion-button expand="block" (click)="lerQRCode()">Escanear</ion-button>    
  </ion-toolbar>
</ion-footer>